.wrap {
	margin: 0 auto;
	width: 960px;
}
div.clearfix{
     clear:both;
     content: ".";
     display:block;
     height:1px;
     width:1px;
}
body {
	font-family: 'Arial Narrow','Nimbus Sans L',sans-serif ;
}
hr {
  background-color: #CCCCCC;
  height: 1px;
  width: 100%;
}

/*************************
******SECCION MENU*******/
	/*menu*/
	#sec_menu {
		background: url("../images/bg_sec_menu.jpg") repeat-x transparent;
		height: 30px;
		padding-top: 9px;
	}
	#sec_menu ul#menu_ppal li:FIRST-CHILD {
		background: none;
	}
	#sec_menu ul#menu_ppal > li {
		float: left;
		background: url("../images/separador_sec_menu.png") no-repeat scroll 8px 8px transparent;
	}
	#sec_menu ul#menu_ppal > li a#item_home {
		padding-left: 2px;
		padding-top: 2px;
	}	
	#sec_menu ul#menu_ppal > li a {
	    color: #FFFFFF;
	    font-family: 'Arial Narrow','Nimbus Sans L',sans-serif;
	    font-size: 14px;
	    letter-spacing: 0.03em;
	    line-height: 20px;
	    padding-left: 18px;
	    text-decoration: none;
	}
		
	/*proximos remates*/
	#sec_menu #prox_rem {
	    color: #FFFFFF;
	    display: inline-block;
	    float: right;
	    font-size: 14px;
	    letter-spacing: 0.0004em;
	    line-height: 1.95em;
	    margin-right: 198px;
	    margin-top: -2px;
	}
/*************************
******SECCION HEADER*******/
	/*logo*/
	#sec_header {
		height: 138px;
	}
	#sec_header #logo {
		float: left;
		width: 470px;
	}
	#sec_header #logo img {
		padding-top: 21px;
	}
	/*buscar*/
	#sec_header #buscar {
	    float: left;
	    margin-left: 22px;
	    width: 272px;
	}
	#sec_header #buscar #buscador  {
	    background: url("../images/lupa.png") no-repeat scroll 247px 6px #EFEFEF;
	    border: 0 none;
	    color: #69737E;
	    font-size: 12px;
	    height: 25px;
	    margin-top: 47px;
	    padding-bottom: 4px;
	    padding-left: 16px;
	    width: 254px;
	}
	#sec_header #calendario_remates {
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		background-color: #FFFFFF;
		border-radius: 8px;	
		float: left;
		height: 133px;
		margin-left: 16px;
		position: relative;
		top: -31px;
		width: 180px;
	}		
	#sec_header #calendario_remates #frm_calendario_remates {
	    padding-left: 8px;
	    padding-top: 8px;
	}
/*************************
******SECCION GALERIA*******/
	#wrap_galery div.muestra {
	    float: left;
	    margin-bottom: 23px;
	    width: 469px;
	}
	#wrap_galery div.muestra div.muestra_top {
	    background-color: #D9D9D9;
	    height: 394px;
	    padding-bottom: 10px;
	}
	#wrap_galery div.muestra .muestra_top .contenedor_title {
		width: 442px;
		margin: 0 auto;
	}
	#wrap_galery div.muestra div.muestra_top .muestra_title {
		color: #FFFFFF;
		font-family: Arial,Helmet,Freesans,sans-serif ;
		font-size: 18px;
		font-weight: bold;
		height: 40px;
		line-height: 36px;
		margin-bottom: 10px;
		margin: 0 auto;
		padding-left: 18px;
		width: 424px;
	}
	#wrap_galery div.muestra .galeria_raya {
	    background-color: #FFFFFF;
	    height: 3px;
	}
	#wrap_galery div.muestra_top .wrap_muestra_main {
		background: url("../images/home/bg_img_ppal_propiedades.jpg") repeat-y scroll 0 0 transparent;
		height: 354px;
	}
	#wrap_galery div.muestra div.muestra_top .muestra_main {
	    height: 332px;
	    margin: 0 auto;
	    padding-top: 10px;
	    width: 442px;
	}
	#wrap_galery div.muestra div.muestra_low #thums_propiedades li {
		height: 107px;
		width: 145px;
		float: left;
		margin-left: 17px;
	}
	#wrap_galery div.muestra div.muestra_low .muestra_thum {
		padding-top: 24px;
	}
	#wrap_galery div.muestra div.muestra_low .muestra_thum #thums_propiedades li:FIRST-CHILD {
		margin-left: 0;
	}
	#wrap_galery div.muestra div.muestra_low .muestra_thum #thums_propiedades li: {
		margin-left: 0;
	}	
		/*galeria izquierda*/
	#wrap_galery .muestra .muestra_top .wrap_contenedor_title {
		background: url("../images/home/bg_titulo_propiedades.jpg") repeat-y scroll 0 0 transparent;
		height: 50px;
		padding-top: 9px;
		width: 467px;
	}
	#wrap_galery #galeria_izq.muestra .muestra_top .contenedor_title {
		background:url("../images/home/bg_interior_title_off.jpg") repeat-x;	
	}
	#wrap_galery #galeria_izq.muestra .muestra_top .contenedor_title.overtitle {
		background:url("../images/home/bg_interior_title_on.jpg") repeat-x;
		cursor: pointer;
	}	
	#wrap_galery #galeria_izq.muestra .muestra_top .contenedor_title .muestra_title {
		background:url("../images/icon_title_propiedades.png") no-repeat scroll 351px 4px transparent;
	}
	
		/*galeria derecha*/
	#wrap_galery #galeria_der.muestra .muestra_top .contenedor_title {
		background:url("../images/home/bg_interior_title_der_off.jpg") repeat-x;	
	}
	#wrap_galery #galeria_der.muestra .muestra_top .contenedor_title.overtitle {
		background:url("../images/home/bg_interior_title_der_on.jpg") repeat-x;
		cursor: pointer;
	}		
	
	#wrap_galery #galeria_der.muestra .muestra_top .contenedor_title .muestra_title {
		background:url("../images/icon_title_maquinas.png") no-repeat scroll 317px 2px transparent;
	}
	#wrap_galery div#galeria_der {
		margin-left: 22px;
	}
/*************************
******SECCION CONTENIDO*******/
#sec_contenido .cont_block {
	background-color: #F8F7F6;
	float: left;
	height: 344px;
	margin-top: 8px;
}
#sec_contenido .cont_title{
	background: url("../images/bg_title_contenido.jpg") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #ECECEC;
	color: #FFFFFF;
	font-size: 14px;
	height: 39px;
	line-height: 36px;
	text-align: center;
}
	/*noticias destacadas*/
	#sec_contenido div.wrap #wrap_noti_dest {
		height: 360px;
	}
	#sec_contenido {
	    margin-top: 0px;
	}
	#sec_contenido div.wrap {
	    height: inherit;
	}	
	#sec_contenido #cont_noti_destac {
		width: 284px;
		margin-left: 10px;
	}	
	#sec_contenido #cont_noti_destac div.cont_cuerpo {
	    height: 302px;
	    margin: 0 auto;
	    width: 266px;
	}
	#sec_contenido #cont_noti_destac div.cont_cuerpo h4 {
		color: #666666;
		font-weight: bold;
		margin-top: 14px;
		margin-bottom: 10px;
	}
	#sec_contenido #cont_noti_destac div.cont_cuerpo p {
		color: #666666;
		padding-top: 12px;
	}
	#sec_contenido #cont_noti_destac div.cont_cuerpo hr {
		margin-top: 12px;
	}
	#sec_contenido .vermas p  {
	    color: #4875A1;
	    float: right;
	    padding-right: 17px !important;
	    padding-top: 10px !important;
	}
	#sec_contenido .vermas p a:VISITED,
	#sec_contenido .vermas p a {
	    background-image: url("../images/read_more.gif");
	    background-position: 86% 11%;
	    background-repeat: no-repeat;
	    color: #4875A1;
	    display: block;
	    height: 22px;
	    width: 70px;
	}

	/*proximos remates*/

	#sec_contenido #cont_prox_rem {
		width: 468px;
		margin-left: 12px;
	}
	#sec_contenido #cont_prox_rem ul#listado_prox_rem {
	    height: 260px;
	    overflow-y: auto;
	    padding-left: 10px;
	    padding-top: 10px;
	}
	#sec_contenido #cont_prox_rem .cont_title #cont_title_prox_rem {
		background: url("../images/icono_calendario.png") no-repeat scroll 310px 3px transparent;
	}	
	#sec_contenido #cont_prox_rem ul#listado_prox_rem li h3	{
		color: #2B4BC1;
		font-weight: bold;
		font-family: Arial,Helvética sans serif;
		font-weight: 700;
		font-size: 15px;
	}
	#sec_contenido #cont_prox_rem ul#listado_prox_rem li p	{
	    border-bottom: 1px solid #EEEEEE;
	    color: #888888;
	    font-family: Arial,Helvética sans serif;
	    font-size: 12px;
	    height: 60px;
	    line-height: 20px;
	    margin-bottom: 4px;
	    padding: 5px 0;
	    width: 396px;
	}
	/*banners*/
	#sec_contenido #cont_banners {
	    float: left;
	    height: 344px;
	    margin-left: 12px;
	    margin-top: 8px;
	    width: 166px;
	}
	#sec_contenido #cont_banners ul#listado_banners li {
		margin-bottom: 6px;
	}
/*************************
******SECCION FOOTER*******/
	/*footer left*/
#sec_footer {
    color: #666666;
	height: 320px;
    line-height: 20px;
    margin-top: 28px;
	font-family: Arial,Helvética sans serif;
}
#sec_footer div.wrap {
    background-color: #EEEEEE;
    height: inherit;
}
#sec_footer .bloque_footer {
	height: 320px;
}
#sec_footer #footer_left {
    float: left;
    margin-left: 10px;
    width: 262px;
	font-size: 11px;
	line-height: 18px;
}
#sec_footer #footer_left #contenedor_logo_footer {
	background: url("../images/logo_tattersall_footer.png") no-repeat 0 19px transparent;
	height:47px;
	padding-top: 19px;
	width: 229px;
	margin-bottom: 20px;
}
#sec_footer #footer_left #inf_direc_sup {
    padding-bottom: 14px;
}
#sec_footer #footer_left #inf_direc_sup p {
    border-bottom: medium dotted;
    padding-bottom: 14px;
    width: 230px;
}
#sec_footer #footer_left #inf_direc_inf {
	padding-top: 14px;
}
#sec_footer #footer_left #inf_direc_inf #wrap_libreta {
	background-color: blue;
	background: url("../images/libreta_footer.png") no-repeat 5px 5px transparent;
	border-bottom: 1px solid #CECECE;
	border-left: 1px solid #CECECE;
	border-right: 1px solid #B8B8B8;
	border-top: 1px solid #B8B8B8;
	height: 29px;
	width: 34px;
}
#sec_footer #footer_right {
	float:left;
	font-size: 12px;
}
#sec_footer .bloques_forter_der {
    float: left;
    margin-right: 68px;
    margin-top: 20px;
    padding: 14px 14px 14px 0;
    position: relative;
}
#sec_footer .bloques_forter_der ul li ul {
    padding-top: 0px;
}
#sec_footer .bloques_forter_der ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sec_footer .bloques_forter_der li a {
    color: #666666;
}
#sec_footer .bloques_forter_der li h2.title {
    border-bottom: 1px solid #DFDFDF;
    color: #444444;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 0 0 11px;
}
/*************************
******SECCION COPYRIGHT*******/
	/*copyright*/
#sec_copyright {
	height: 58px;
	font-family: Arial,Helvética sans serif;
	font-size: 12px;
	font-weight: 400;
	color: rgb(102, 102, 105);
}
#sec_copyright #copyright p{
    padding: 20px;
    text-align: center;
}